<h2>Product Name: <%=@product.name%><br>
Description: <%=@product.description%><br>
Price: $<%=@product.pricing%><br>
Category: <%=@cat.name%></h2>
<br>
<h3>Comment</h3>
<form action="/comments/create/<%=@product.id%>" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="hidden" name="comment[product_id]" value="<%= @product.id %>">
    <textarea rows="4" cols="40" name="comment"></textarea>
    <input type="submit" value="Submit">
</form>
<h2>Comments for this product</h2>
<% @comments.each do |comment| %>
<p><%= comment.comment %></p>
<form action="/comments/<%= comment.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="hidden" name="product_id" value="<%= @product.id %>">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="submit" value="Destroy">
</form>
<% end %>
<br>
<a href="/products/<%=@product.id%>/edit">Edit</a> | <a href="/">Back</a>
